/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
   font-weight: bold;
	color: #6e859c;
   padding: 0;
   margin: 0;
	background: #264653;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding-top: 60px;
   padding: 30px;
}

input[type="text"] {
   width: 37%;
   padding: 10px;
   background-color: #F2F4F6;
   height: 5vh;
   border: 2px solid silver;
}

#placeholder {
   color: #6e859c;
}

img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

a{
   position: relative;
}

.container a::before {
   content: attr(title);
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   font-size: 30px;
   color: white;
   position: absolute;
   top: 0;
   left: 0;
   background: grey;
   height: 100%;
   width: 100%;
   opacity: 0;
}

.container a:hover:before {
   opacity: 0.5;
}

[src*="thumbnails"] {
   opacity: 1;
   transition: ease-in-out 0.2s;
   border-radius: 2%;
}

[src*="thumbnails"]:hover {
   filter: brightness(50%);
}


/* ===================================== 
   Grid Layout
======================================== */

.grid {
   max-width: 1000px;
   width: 100%;
   padding: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 30px 30px;

   background: #fff;
   border-radius: 0.285em;
   margin: 45px auto;
}